@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

html,body,div#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
}
footer{
    margin-top: auto;
}
